@inherits LayoutComponentBase

<div class="page">
	<header class="sidebar">
		<NavMenu />
	</header>
	<main class="main">
		<div class="content px-4">
			@Body
		</div>
	</main>
	<footer class="footer">Copyright © @(DateTime.Now.Year). Grabica</footer>
</div>